* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    padding: 5% 10%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;

}

.row-1 {
    display: flex;
    justify-content: center;
}

.row {
    width: 200px;
    object-fit: cover;
}

.row2 {
    width: 400px;
}